---
import MailIcon from './icons/Mail.astro';
---

<form {...Astro.props} action="https://formsubmit.co/marcossportelaa@gmail.com" method="POST" class="ml-2 mr-3 mb-6 md:p-6 py-5 md:px-4 w-[96%] md:w-full rounded-2xl border border-gray-400">
    <h2 class="flex flex-col md:flex-row items-center text-sm font-semibold text-black dark:text-white"><MailIcon /> <span class="ml-3 text-xl">Contacta a Marcos</span></h2>
    <p class="mt-2 ml-2 text-base dark:text-gray-400 text-gray-700">Escribeme un mensasje con cualquier consulta que tengas, estoy a tu disposicion.</p>
    <div>
        <input type="text" placeholder=" Su Nombre" name="nombre" required class="flex-auto mt-3 mx-2 md:px-3 w-[94%] md:w-full h-12 rounded-md border shadow-md appearance-none sm:text-sm focus:ring-4 focus:outline-none shadow-gray-800/5 border-gray-400 bg-gray-700[0.15] text-gray-600 dark:text-gray-100 dark:bg-zinc-500 placeholder:text-gray-500 dark:placeholder:text-gray-200 focus:border-accent-400 focus:ring-accent-400/10">
        <input type="email" placeholder=" Su Email" name="mail" required class="flex-auto mt-3 mx-2 md:px-3 w-[94%] md:w-full h-12 rounded-md border shadow-md appearance-none sm:text-sm focus:ring-4 focus:outline-none shadow-gray-800/5 border-gray-400 bg-gray-700[0.15] text-gray-600 dark:text-gray-100 dark:bg-zinc-500 placeholder:text-gray-500 dark:placeholder:text-gray-200 focus:border-accent-400 focus:ring-accent-400/10">
        <textarea required name="mensaje" name="mensaje" placeholder=" Tu Mensaje..." rows="4" class="md:p-3 w-[94%] md:w-full mx-2 mt-3 rounded-md border shadow-md appearance-none sm:text-sm focus:ring-4 focus:otuline-none border-gray-400 bg-gray-700[0.15] dark:bg-zinc-500 text-gray-600 dark:text-gray-100 dark:placeholder:text-gray-200 focus:border-accent-400/10"></textarea>
        <input class="flex-none w-[94%] md:w-full mx-2 mt-3 py-2 md:px-3 text-sm font-semibold rounded-md transition active:transition-none outline-offset-2 text-gray-100 bg-gray-700 hover:bg-gray-600 placeholder:text-gray-500 dark:placeholder:text-gray-300 active:bg-gray-700 active:text-gray-100/70" type="submit" value="Enviar"></input>
        <input type="hidden" name="_next" value="https://lucky-seahorse-65b12e.netlify.app/">
        <input type="hidden" name="_captcha" value="false">
    </div>
</form>