---
import ProjectItem from "./ProjectItem.astro";

const Project = [
    {
        title: "DataScape",
        description: "I’ve worked on tons of little projects over the years but these are the ones that I’m most proud of.",
        link: "https://www.linkedin.com/in/marcos-portela-7952861b1/",
    },
    {
        title: "DataScape",
        description: "I’ve worked on tons of little projects over the years but these are the ones that I’m most proud of.",
        link: "https://www.linkedin.com/in/marcos-portela-7952861b1/",
    },
    {
        title: "DataScape",
        description: "I’ve worked on tons of little projects over the years but these are the ones that I’m most proud of.",
        link: "https://www.linkedin.com/in/marcos-portela-7952861b1/",
    },
    {
        title: "DataScape",
        description: "I’ve worked on tons of little projects over the years but these are the ones that I’m most proud of.",
        link: "https://www.linkedin.com/in/marcos-portela-7952861b1/",
    },
    {
        title: "DataScape",
        description: "I’ve worked on tons of little projects over the years but these are the ones that I’m most proud of.",
        link: "https://www.linkedin.com/in/marcos-portela-7952861b1/",
    },
]
---

<ul role="list" class="">
    <a href="#" class="transistion-all group">
        {
            Project.map(projects => (
                <li class="relative w-full rounded-2xl shadow-md transition-all duration-200 ease-in-out hover:scale-105 h-[300px] shadow-black">
                    <ProjectItem {...projects} />
                </li>
            ))
        }
    </a>
</ul>
